# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Xcode user files
IMACMAN.xcodeproj/project.xcworkspace/

#Project binary
IMACMAN/Game/IMACMAN
IMACMAN/Game/build/

#Project libraries
IMACMAN/libs/

build/

IMACMAN/Game/IMACMAN\.build/
